<?xml version="1.0" ?>
<PlannerDemoConfig>    
    <FeasibilityDrivenDDPSolver Name="fddp">
        <Debug>1</Debug>
        <MaxIterations>100</MaxIterations>
    </FeasibilityDrivenDDPSolver>

    <DynamicTimeIndexedShootingProblem Name="satellite">
        <PlanningScene>
            <Scene>
                <JointGroup>base</JointGroup>
                <URDF>{exotica_satellite_dynamics_solver}/resources/robots/satellite/satellite.urdf</URDF>
                <SRDF>{exotica_satellite_dynamics_solver}/resources/robots/satellite/satellite.srdf</SRDF>
                <SetRobotDescriptionRosParams>1</SetRobotDescriptionRosParams>
                <DynamicsSolver>
                    <SatelliteDynamicsSolver Name="dsolver" Integrator="RK1">
                        <ControlLimitsLow>0</ControlLimitsLow>
                        <ControlLimitsHigh>1000</ControlLimitsHigh>
                        <dt>0.02</dt>
                    </SatelliteDynamicsSolver>
                </DynamicsSolver>
            </Scene>
        </PlanningScene>

        <T>200</T>
        <tau>0.02</tau>

        <Q_rate>1e-3</Q_rate>
        <Q>
            0 0 0 0 0 0
            1 1 1 1 1 1
        </Q>
        <Qf>
            1 1 1 1 1 1
            1 1 1 1 1 1
        </Qf>

        <Qf_rate>1000</Qf_rate>

        <!-- Rate penalizes large control forces. -->
        <R_rate>1e-3</R_rate>

        <StartState>0 0 0  1 0 0 0   0 0 0 0 0 0</StartState>
        <GoalState> 0 20 0   0 -0.4871745 0 -0.8733046   0 0 0 0 0 0</GoalState>
    </DynamicTimeIndexedShootingProblem>
</PlannerDemoConfig>
