<?xml version="1.0" encoding="utf-8"?>
<robot name="satellite" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
    
    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>
    
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <xacro:property name="base_mass" value="60" />

    <!-- <link name="base_dummy"></link> -->

    <!-- links -->
    <link name="base_link">
        <inertial>
            <mass value="${base_mass}"/>
            <origin xyz="0 0 0"/>
            <inertia
                ixx="${base_mass * 2.5 * 2.5 * 2/5}"
                ixy="0.0" ixz="0.0"
                iyy="${base_mass * 2.5 * 2.5 * 2/5}"
                iyz="0.0"
                izz="${base_mass * 4 * 4 * 2/5}"
            />
        </inertial>
       
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>

                <mesh filename="package://exotica_satellite_dynamics_solver/resources/robots/satellite/satellite_base.dae" scale="1 1 1"/>
            </geometry>
        </visual>

        <!-- <visual>
            <geometry>
                <box size="2.5 2.5 4"/>
            </geometry>
        </visual> -->
            
        <!-- <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://exotica_satellite_dynamics_solver/resources/robots/quadrotor/quadrotor_base_convex_hull.stl"/>
            </geometry>
        </collision> -->
    </link>

    <!-- <joint name="base_to_dummy" type="fixed">
        <parent link="base_dummy"/>
        <child link="base_link"/>
        <origin xyz="0 0 0"/>
    </joint> -->

    <!-- antenna and communication arrays -->
    <link name="front">
        <visual>
            <geometry>
                <cylinder length="4" radius="1"/>
            </geometry>
            
            <origin rpy="0 0 0" xyz="0 0 2"/>
            <material name="black"/>
        </visual>

        <inertial>
            <mass value="1e-12"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-12" ixy="0.0" ixz="0.0" iyy="1e-12" iyz="0.0" izz="1e-12"/>
        </inertial>
    </link>

    <link name="left_array">
        <visual>
            <geometry>
                <box size="12 0.2 2"/>
            </geometry>
            
            <origin rpy="0.785 0 0" xyz="-6 0 0"/>
            <material name="white"/>
        </visual>

        <inertial>
            <mass value="1e-12"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-12" ixy="0.0" ixz="0.0" iyy="1e-12" iyz="0.0" izz="1e-12"/>
        </inertial>
    </link>

    <link name="right_array">
        <visual>
            <geometry>
                <box size="12 0.2 2"/>
            </geometry>
            
            <origin rpy="0.785 0 0" xyz="6 0 0"/>
            <material name="white"/>
        </visual>

        <inertial>
            <mass value="1e-12"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-12" ixy="0.0" ixz="0.0" iyy="1e-12" iyz="0.0" izz="1e-12"/>
        </inertial>
    </link>

    <link name="top_array">
        <visual>
            <geometry>
                <box size="2 4 0.2"/>
            </geometry>
            
            <origin rpy="0 0 0" xyz="0 2 0"/>
            <material name="black"/>
        </visual>

        <inertial>
            <mass value="1e-12"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-12" ixy="0.0" ixz="0.0" iyy="1e-12" iyz="0.0" izz="1e-12"/>
        </inertial>
    </link>

    <link name="bot_array">
        <visual>
            <geometry>
                <box size="2 4 0.2"/>
            </geometry>
            
            <origin rpy="0 0 0" xyz="0 -2 0"/>
            <material name="black"/>
        </visual>

        <inertial>
            <mass value="1e-12"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-12" ixy="0.0" ixz="0.0" iyy="1e-12" iyz="0.0" izz="1e-12"/>
        </inertial>
    </link>

    <!-- thrusters -->
    <xacro:macro name="thruster" params="name origin">
        <link name="thruster_${name}">
            <visual>
                <geometry>
                    <box size="0.2 0.2 0.2"/>
                </geometry>
                
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <material name="green"/>
            </visual>

            <inertial>
                <mass value="0.001"/>
                <!-- <origin xyz="0 0 0"/> -->
                <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
            </inertial>
        </link>

        <!-- Prismatic joints with no effort so pinocchio recognizes
            them as controllable joints.
         -->
        <joint name="base_to_thruster_${name}" type="fixed">
            <!-- <limit effort="1e-10" lower="0" upper="1e-10" velocity="1e-10"/> -->
            <!-- <axis xyz="${axis}"/> -->

            <!-- <limit effort="1000.0" lower="0.0" upper="0.548" velocity="0.5"/> -->
            <parent link="base_link"/>
            <child link="thruster_${name}"/>
            <origin xyz="${origin}"/>
        </joint>
    </xacro:macro>

    <xacro:thruster name="bot" origin="0 0 -2"/>
    <xacro:thruster name="bot_1" origin="0 -1.3 -1.8"/>
    <xacro:thruster name="bot_2" origin="-1.3 0 -1.8"/>
    <xacro:thruster name="bot_3" origin="0 1.3 -1.8"/>
    <xacro:thruster name="bot_4" origin="1.3 0 -1.8"/>


    <xacro:thruster name="top" origin="0 0 2"/>
    <xacro:thruster name="top_1" origin="0 -1.3 1.8"/>
    <xacro:thruster name="top_2" origin="-1.3 0 1.8"/>
    <xacro:thruster name="top_3" origin="0 1.3 1.8"/>
    <xacro:thruster name="top_4" origin="1.3 0 1.8"/>
    
    <!-- <xacro:thruster name="bot_2" origin="-1.3 -1 -1.8"/> -->
    <!-- <xacro:thruster name="bot_3" origin="1.3 -1 -1.8"/> -->
    <!-- <xacro:thruster name="bot_4" origin="1 -1.3 -1.8"/> -->
    <!-- <xacro:thruster name="bot_5" origin="1.3 1 -1.8"/> -->
    <!-- <xacro:thruster name="bot_6" origin="1 1.3 -1.8"/> -->
    <!-- <xacro:thruster name="bot_7" origin="-1 1.3 -1.8"/> -->
    <!-- <xacro:thruster name="bot_8" origin="-1.3 1 -1.8"/> -->

    <!-- <xacro:thruster name="top" origin="0 0 2"/> -->
    <!-- <xacro:thruster name="top_1" origin="-1 -1.3 1.8"/> -->
    <!-- <xacro:thruster name="top_2" origin="-1.3 -1 1.8"/> -->
    <!-- <xacro:thruster name="top_3" origin="1.3 -1 1.8"/> -->
    <!-- <xacro:thruster name="top_4" origin="1 -1.3 1.8"/> -->
    <!-- <xacro:thruster name="top_5" origin="1.3 1 1.8"/> -->
    <!-- <xacro:thruster name="top_6" origin="1 1.3 1.8"/> -->
    <!-- <xacro:thruster name="top_7" origin="-1 1.3 1.8"/> -->
    <!-- <xacro:thruster name="top_8" origin="-1.3 1 1.8"/> -->

    <!-- joints -->
    <joint name="base_to_front" type="fixed">
        <parent link="base_link"/>
        <child link="front"/>
        <origin xyz="0 0 2"/>
    </joint>

    <joint name="base_to_left_array" type="fixed">
        <parent link="base_link"/>
        <child link="left_array"/>
        <origin xyz="-1 -0.5 -1"/>
    </joint>

    <joint name="base_to_right_array" type="fixed">
        <parent link="base_link"/>
        <child link="right_array"/>
        <origin xyz="1 -0.5 -1"/>
    </joint>

    <joint name="base_to_top_array" type="fixed">
        <parent link="base_link"/>
        <child link="top_array"/>
        <origin xyz="0 1 -1"/>
    </joint>

    <joint name="base_to_bot_array" type="fixed">
        <parent link="base_link"/>
        <child link="bot_array"/>
        <origin xyz="0 -1 -1"/>
    </joint>
</robot>
