<?xml version="1.0" encoding="utf-8"?>
<robot name="satellite" 
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>

    <material name="yellow">
        <color rgba="1 1 0 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <xacro:property name="base_mass" value="5000" />
    <xacro:property name="base_w" value="4" />
    <xacro:property name="base_l" value="4" />
    <xacro:property name="base_h" value="11" />
    <xacro:property name="show_outline" value="0" />

    <!-- links -->
    <link name="base_link">
        <inertial>
            <mass value="${base_mass}"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="${base_mass * 2.5 * 2.5 * 2/5}" ixy="0.0" ixz="0.0" iyy="${base_mass * 2.5 * 2.5 * 2/5}" iyz="0.0" izz="${base_mass * 4 * 4 * 2/5}" />
        </inertial>

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <!-- <mesh filename="package://exotica_satellite_dynamics_solver/resources/robots/satellite/satellite_base.dae" scale="1 1 1"/> -->
                <mesh filename="package://exotica_satellite_dynamics_solver/resources/robots/satellite/LORAL-1300MANIP.dae" />
            </geometry>
        </visual>

        <xacro:if value="${show_outline == 1}">
            <visual>
                <geometry>
                    <box size="2.5 2.5 4"/>
                </geometry>
            </visual>
        </xacro:if>
    </link>

    <!-- thrusters -->
    <xacro:macro name="thruster" params="name xyz rpy">
        <link name="thruster_${name}">
            <visual>
                <geometry>
                    <box size="0.1 0.1 0.2"/>
                </geometry>

                <origin rpy="0 0 0" xyz="0 0 0"/>
                <material name="green"/>
            </visual>
            <visual>
                <geometry>
                    <box size="0.05 0.05 0.05"/>
                </geometry>

                <origin rpy="0 0 0" xyz="0 0 0.1"/>
                <material name="red"/>
            </visual>

            <inertial>
                <mass value="0.001"/>
                <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
            </inertial>
        </link>

        <joint name="base_to_thruster_${name}" type="fixed">
            <parent link="base_link"/>
            <child link="thruster_${name}"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>
    </xacro:macro>

    <!-- Main thruster -->
    <xacro:thruster name="bot_0" xyz="0 0 -2.4" rpy="0 -3.1415 0"/>
    <!-- Steering thrusters -->
    <xacro:thruster name="bot_1" xyz="1.0 -1.2 -2" rpy="1.57 0 1.57"/>
    <xacro:thruster name="bot_2" xyz="-1.0 1.2 -2" rpy="0 -1.57 0"/>
    <xacro:thruster name="bot_3" xyz="0.9 1.4 -2" rpy="-1.57 0 0"/>
    <xacro:thruster name="bot_4" xyz="-0.9 -1.4 -2" rpy="1.57 0 0"/>
    <!-- More steering thrusters -->
    <xacro:thruster name="bot_5" xyz="0.9 -1.4 -2" rpy="1.57 0 0"/>
    <xacro:thruster name="bot_6" xyz="-0.9 1.4 -2" rpy="-1.57 0 0"/>
    <xacro:thruster name="bot_7" xyz="1.0 1.2 -2" rpy="0 1.57 0"/>
    <xacro:thruster name="bot_8" xyz="-1.0 -1.2 -2" rpy="0 -1.57 0"/>

    <!-- Main thruster -->
    <xacro:thruster name="top_0" xyz="0 0 1.7" rpy="0 0 0"/>
    <!-- Steering thrusters -->
    <xacro:thruster name="top_1" xyz="1.0 -1.2 1.5" rpy="1.57 0 1.57"/>
    <xacro:thruster name="top_2" xyz="-1.0 1.2 1.5" rpy="0 -1.57 0"/>
    <xacro:thruster name="top_3" xyz="0.9 1.4 1.5" rpy="-1.57 0 0"/>
    <xacro:thruster name="top_4" xyz="-0.9 -1.4 1.5" rpy="1.57 0 0"/>
    <!-- More steering thrusters -->
    <xacro:thruster name="top_5" xyz="0.9 -1.4 1.5" rpy="1.57 0 0"/>
    <xacro:thruster name="top_6" xyz="-0.9 1.4 1.5" rpy="-1.57 0 0"/>
    <xacro:thruster name="top_7" xyz="1.0 1.2 1.5" rpy="0 1.57 0"/>
    <xacro:thruster name="top_8" xyz="-1.0 -1.2 1.5" rpy="0 -1.57 0"/>
</robot>
